@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Buddy</h1>
    <h2 class="h4 text-muted home-subhead">Canine Physiotherapy Administration</h2>
    <div class="home-logo-spacing">
        <img src="~/img/logo-disc.svg" alt="Hello Buddy logo" class="home-logo-disc img-fluid" />
    </div>
</div>
